<!-- Loop over each object in the projects array -->
{{#each reservations as |reservation| }}
<div class="row mb-4 reservation">
  <div class="col-md-5">
    <h2>
      <a href="/reservation/{{reservation.id}}">{{reservations.guest_name}}</a>
    </h2>
    <p>Created by {{reservation.guest_name}} on {{format_date reservation.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
    Date Reserved: {{reservation.reservation_date}} <br>
    For party of: {{reservation.party_num}} <br>
    Contact at : {{reservation.phone_num}} <br>
    </p>
  </div>
</div>
{{/each}}